<div class="min-h-screen p-4 grid grid-rows-[auto_1fr_auto] gap-6">
  <div class="flex flex-col items-center gap-3">
    <div class="flex items-center gap-3">
      <mat-icon class="size-8 text-[32px] leading-8"> favorite </mat-icon>
      <h1 class="font-semibold text-2xl">Breloki personalizowane</h1>
    </div>
    <span>Stwórz swój własny brelok z grawerem i wybierz spośród wielu dostępnych opcji.</span>
  </div>
  <main class="grid grid-cols-[1fr_2fr] items-center justify-center gap-4">
    <div class="h-full grid grid-rows-[1fr_1fr] gap-4">
      <!-- Preview section -->
      <mat-card class="h-full" appearance="outlined"> </mat-card>
      <app-summary class="h-full" [model]="configuratorModel()"></app-summary>
    </div>
    <form (submit)="onSubmit($event)" class="h-full flex flex-col gap-4">
      <!-- Snap hook section -->
      <mat-card appearance="outlined">
        <mat-card-header>
          <span class="font-semibold text-sm">1. Karabińczyk - kolor</span>
        </mat-card-header>

        <mat-card-content class="pt-4">
          <div class="flex flex-wrap gap-3" role="group">
            <!-- TODO: to separate component -->
            @for (option of snapHookOptions; track option.color) {
              <button
                type="button"
                class="group relative grid grid-rows-[104px_36px] overflow-hidden rounded-xl border-2 bg-white text-left transition hover:-translate-y-0.5 hover:shadow-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-pink-500 focus-visible:ring-offset-2"
                [class.border-pink-600]="configuratorModel().snapHook === option.color"
                [class.border-gray-200]="configuratorModel().snapHook !== option.color"
                (click)="selectSnapHookColor(option.color)"
              >
                <div class="flex items-center justify-center bg-gray-50 p-2">
                  <img
                    class="size-25 object-contain transition-transform group-hover:scale-150"
                    [src]="option.imageUrl"
                    [alt]="'Karabińczyk – kolor ' + option.label"
                  />
                </div>

                <div class="flex min-w-0 items-center gap-2 px-3">
                  <span
                    class="size-4 shrink-0 rounded-full border border-black/15 shadow-sm"
                    [style.background]="option.color"
                  ></span>
                  <span class="truncate font-medium text-gray-900">
                    {{ option.label }}
                  </span>
                </div>
              </button>
            }
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Heart section -->
      <mat-card appearance="outlined">
        <mat-card-header>
          <span class="font-semibold text-sm">2. Zawieszka serce</span>
        </mat-card-header>
        <mat-card-content>
          <div class="flex flex-col gap-2">
            <app-yes-no-toggle
              [value]="configuratorModel().heart.enabled"
              (valueChange)="setHeart($event)"
            />
            <app-colors
              [colorOption]="configuratorModel().heart.color"
              [disabled]="!configuratorModel().heart.enabled"
              [shape]="'heart'"
              (valueChange)="setHeartColor($event)"
            >
            </app-colors>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Name section -->
      <mat-card appearance="outlined">
        <mat-card-header>
          <span class="font-semibold text-sm">3. Zawieszka z imieniem</span>
        </mat-card-header>
        <mat-card-content>
          <div class="flex flex-col gap-2">
            <app-yes-no-toggle
              [value]="configuratorModel().name.enabled"
              (valueChange)="setName($event)"
            />
            <div class="flex flex-col gap-2">
              <div
                class="ml-2 text-sm font-semibold transition-opacity"
                [class.cursor-not-allowed]="!configuratorModel().name.enabled"
                [class.opacity-35]="!configuratorModel().name.enabled"
              >
                Kolor tła
              </div>
              <app-colors
                [colorOption]="configuratorModel().name.fontColor"
                [disabled]="!configuratorModel().name.enabled"
                [shape]="'square'"
                (valueChange)="setNameFontColor($event)"
              ></app-colors>
            </div>
            <div class="flex flex-col gap-2">
              <div
                class="ml-2 text-sm font-semibold transition-opacity"
                [class.cursor-not-allowed]="!configuratorModel().name.enabled"
                [class.opacity-35]="!configuratorModel().name.enabled"
              >
                Kolor liter
              </div>
              <app-colors
                [colorOption]="configuratorModel().name.backgroundColor"
                [disabled]="!configuratorModel().name.enabled"
                [shape]="'square'"
                (valueChange)="setNameBackgroundColor($event)"
              ></app-colors>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Custom text section -->
      <mat-card appearance="outlined">
        <mat-card-header>
          <span class="font-semibold text-sm">4. Zawieszka z dodatkowym tekstem</span>
        </mat-card-header>
        <mat-card-content>
          <div class="flex flex-col gap-2">
            <app-yes-no-toggle
              [value]="configuratorModel().custom.enabled"
              (valueChange)="setCustom($event)"
            />
            <div class="flex flex-col gap-2">
              <div
                class="ml-2 text-sm font-semibold transition-opacity"
                [class.cursor-not-allowed]="!configuratorModel().custom.enabled"
                [class.opacity-35]="!configuratorModel().custom.enabled"
              >
                Kolor zawieszki
              </div>
              <app-colors
                [colorOption]="configuratorModel().custom.color"
                [disabled]="!configuratorModel().custom.enabled"
                [shape]="'square'"
                (valueChange)="setCustomColor($event)"
              ></app-colors>
              <div
                class="ml-2 text-sm font-semibold transition-opacity"
                [class.cursor-not-allowed]="!configuratorModel().custom.enabled"
                [class.opacity-35]="!configuratorModel().custom.enabled"
              >
                Tekst zawieszki
                <mat-radio-group (change)="customTextType($event)">
                  <mat-radio-button
                    [checked]="!!!configuratorModel().custom.predefinedText"
                    [value]="false"
                    >Predefiniowany</mat-radio-button
                  >
                  <mat-radio-button
                    [checked]="!!configuratorModel().custom.predefinedText"
                    [value]="true"
                    >Własny</mat-radio-button
                  >
                </mat-radio-group>
              </div>
              <mat-form-field>
                <mat-label>Wybierz predefiniowany tekst zawieszki</mat-label>

                <mat-select
                  class="w-full"
                  [disabled]="
                    !configuratorModel().custom.enabled ||
                    !!configuratorModel().custom.predefinedText
                  "
                  [value]="configuratorModel().custom.text || ''"
                  (selectionChange)="setCustomText($event.value)"
                >
                  @for (text of predefinedTexts; track text) {
                    <mat-option [value]="text">
                      {{ text }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Wpisz własny tekst</mat-label>
                <input
                  matInput
                  placeholder="Wpisz własny tekst"
                  [value]="configuratorModel().custom.text || ''"
                  (input)="setCustomText($event.target.value)"
                  [disabled]="
                    !configuratorModel().custom.enabled ||
                    !configuratorModel().custom.predefinedText
                  "
                />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
